body {
  background: #212121;
  color: white;
  font-family: 'Arimo', sans-serif;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.logo {
  display: flex;
  justify-content: center;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px 40px;
}

.logo-img {
  margin-top: 85px;
}

.digit-number,
.digit-text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.digit-number {
  font-size: 350px;
}

.digit-text {
  font-size: 105px;
}

.logo-img {
  width: 600px;
  height: 600px;
}

